
.row-1{display:none;max-width: 1200px;padding:0 10px 0 10px;}
.row-2{display:none;max-width: 1200px;padding:0 10px;}
.row-3{display:none;max-width: 1200px;padding:0 10px;}
.row-4{display:none;max-width: 1200px;padding:0 10px;}
.row-5{display:none;max-width: 1200px;padding:0 10px;}

.row-1>img,
.row-2>img,
.row-3>img,
.row-4>img,
.row-5>img{box-shadow: 0 0 10px grey;border:5px solid #ffffff;margin:11px;width: 265px; height: 155px;}

.row-1>img:hover,
.row-2>img:hover,
.row-3>img:hover,
.row-4>img:hover,
.row-5>img:hover{box-shadow:0 0 15px #aaafff; transition: ease .5s; border-color:#aaafff;} 